
.filterMenu {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.filterMenu button:last-of-type {
  margin-left: 15px;
  padding: 4px 8px;
}

.dataFilter .searchBox, .dataFilter input {
  background-color: white;
  padding: 6px 8px;
}

.dataFilter input {
  margin-left: 10px;
} 